.section{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}
#cart{
    width: 70%;
    margin-left: 50px;
}
#cart .set{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-bottom: 18px;
}
#cart h2{
   margin-bottom: 20px;
   text-transform: uppercase;
   text-align: center;
   color: rgba(0, 0, 0, 0.494);
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
.wrapper h3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.wrapper h5{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;

}
img{
    width: 150px;
    height: 150px;
    border: 1px solid rgb(87, 84, 84);
    border-radius: 2px;
    display: block;   width: 150px;
    height: 150px;
}
#cart .titale{

    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.qyt {
    display: flex;
    align-items: center;
    justify-content: center;
}
.price{
    margin: 0 auto;
    display: flex;
    align-items: center;
}
#applay{
    width: 30%;
}
#applay{
    line-height: 50px;
    background-color: #eae2e27b;
    padding: 150px 0 0 70px;
}
#total-pri{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
#applay h2{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#size{
    display: block;
}
#done{
    margin-top: 40px;
    padding: 10px 40px;
    font-size: 16px;
    border: 0;
    background-color: pink;
    border-radius: 20px;
    transition: all 0.3s ease;
}
#done:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}
.qyt button{
    padding: 1px 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}